.Card {    
    border-radius: 10px;
    margin-bottom: 15px;    
}

.Card:hover {
    box-shadow: 0px 0px 20px 0px lightgray;
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.CardHeader {
    height: 40px;    
    font-weight: bold;
}

.CardTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.CardImg {
    cursor: pointer;
}

.EmptyCardImg {    
    filter: opacity(0.5);
    padding: 10px;
    cursor: pointer;
}

.CardBody {
    padding: 10px;
}

.CardBody span {
    margin-right: 10px;
    cursor: pointer;
}

.BadgesContainer{
    text-align: center;
}

.ActionButtonContainer{
    text-align: center;
    font-size: 18px;
    padding: 1px;
}

.ClearBadge {
    background-color: rgba(150, 5, 5, 0.8)!important;
}

.ActionBadge {
    background-color: rgba(100, 100, 100, 1)!important;
}